@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./img/cloud_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  --border: #fff;
  --bg: rgba(255, 255, 255, 0.2);
  --accent: #cb7a1d;
  --text_w: #fff;
  --text_wt: rgba(255, 255, 255, 0.5);
  --text_b: #000;
  --shadow: rgba(0, 0, 0, 0.5);
  font-family: "Poppins", sans-serif;
  color: var(--text_b);
}

/*--------------------------
    Search bar class
--------------------------*/

.AddCity {
  position: relative;
}

.AddCity input {
  width: 100%;
  background: var(--text_wt);
  border: 2px solid var(--border);
  border-radius: 30px;
  padding: 10px 20px;
}

.AddCity button {
  width: 110px;
  position: absolute;
  right: 0;
  background: transparent;
  border-left: 2px solid var(--border);
  border-right: 2px solid transparent;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-radius: 0 30px 30px 0;
  padding: 10px 20px;
  z-index: 5;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.AddCity button:hover {
  background: var(--accent);
  color: var(--text_w);
  border: 2px solid var(--border);
}

/*--------------------------
    App location bar class
--------------------------*/

.App {
  max-width: 600px;
  margin: 150px auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
}

.app_container {
  border: 2px solid var(--border);
  border-radius: 30px;
  padding: 50px;
  background-color: var(--bg);
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.app_icon {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app_icon img {
  width: 150px;
  z-index: 5;
}

.app_icon span {
  margin: -30px;
  font-size: 25px;
  z-index: 2;
  color: var(--text_wt);
  font-weight: 900;
}

.app_info {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.app_info svg {
  width: 15px;
  fill: var(--text_w);
  margin-right: 10px;
}

.app_info h2 {
  width: 100%;
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 20px;
}

.app_info h3 {
  font-size: 22px;
  font-weight: 300;
  color: var(--text_w);
}

.app_data {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: -80px;
}

.app_data div {
  font-size: 12px;
  width: 120px;
  padding: 10px;
  background-color: var(--border);
  border-radius: 20px;
  text-align: center;
  box-shadow: 2px 2px 4px var(--shadow);
}

.app_data p {
  font-size: 18px;
  font-weight: 700;
  color: var(--accent);
}

.app_data p span {
  font-size: 14px;
  font-weight: 400;
  margin-left: 3px;
  color: var(--text_b);
}

/*--------------------------
    App search city class
--------------------------*/

.AddCityContent {
  margin-top: 50px;
}

.app_city_data {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: -35px;
}

.app_city_data div {
  font-size: 12px;
  width: 120px;
  padding: 10px;
  background-color: var(--border);
  border-radius: 20px;
  text-align: center;
  box-shadow: 2px 2px 4px var(--shadow);
}

.app_city_data p {
  font-size: 18px;
  font-weight: 700;
  color: var(--accent);
}

.app_city_data p span {
  font-size: 14px;
  font-weight: 400;
  margin-left: 3px;
  color: var(--text_b);
}

.app_city_icon {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -20px;
}

.app_city_icon img {
  width: 150px;
  z-index: 5;
}

.app_city_icon span {
  margin: -30px;
  font-size: 25px;
  z-index: 2;
  color: var(--text_wt);
  font-weight: 900;
}

/*----------------------------------
    Media query for responsivnes
----------------------------------*/

@media (width <= 600px) {
  .App {
    max-width: 80%;
  }

  .app_container {
    flex-direction: column;
  }

  .app_city_data {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
    gap: 15px;
  }

  .app_city_data div {
    width: 48%;
    font-size: 16px;
    font-weight: 300;
  }

  .app_city_data p {
    font-size: 30px;
  }

  .app_city_data p span {
    font-size: 18px;
  }

  .app_data {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -20px;
    gap: 15px;
  }

  .app_data div {
    width: 48%;
    font-size: 16px;
    font-weight: 300;
  }

  .app_data p {
    font-size: 30px;
  }

  .app_data p span {
    font-size: 18px;
  }
}
